@model IEnumerable<WebApp_OOP_Lr9.DataBase.NewBuilding>

    @{
        ViewData["Title"] = "Новобудови";
    }
    <link href="~/css/site.css" rel="stylesheet" />
    <body>
        <header class="header">
            <h1>Новобудови</h1>
            <div>
        <a asp-controller="Home" asp-action="Index">Головна</a> |
        <a asp-action="Create">Додати новобудову</a>
        </div>
    </header>

    <main>
            <div class="centrBox">
                <div class="grid" z-index: 10>
                    @foreach (var item in Model)
                    {
                        <div class="blogCell">
                            <h2>@item.Caption</h2>
                            <p>@item.Address</p>
                            <div class="PageLink">
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </main>
    </body>
